/* entire income statement page */
.retire {
  width: 100%;
  height: 190vh;
  color: aliceblue;
  background-image: linear-gradient(70deg, #5433ff, #20bdff);
  /* background-image: url(../Assets/erin-simmons-382348-unsplash.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: center;
  background-size: cover; */
}

/* header - title of the page */
.retire-header {
  width: 100%;
  height: 10vh;
  color: white;
  font-family: Arial;
  font-size: 20px;
  text-align: center;
  /* remove when done */
  /* border: orange 1px solid; */
  padding-top: 10vh;
}

.retire-body {
  /* remove when done */
  /* border: red 1px solid; */
  width: 76%;
  height: 900px;
  float: right;
  padding-top: 11vh;
  padding-right: 20px;
  margin-right: 2vw;
  display: flex;
}

/* deposits portion */
/* .retire-left { */
/* remove when done */
/* border: black 1px solid; */
/* } */

.fire {
  /* remove when done */
  /* border: 1px lime dotted; */
  height: 40%;
  width: 40vw;
  display: flex;
  flex-direction: column;
}

input:hover {
  border: 2px solid orange;
}
.fire input {
  width: 40px;
  margin-left: 10px;
}
.asset input {
  width: 120px;
  margin-left: 10px;
}

.asset {
  /* remove when done */
  /* border: 1px green dotted; */
  height: 60%;
  width: 40vw;
  display: flex;
  flex-direction: column;
}

.retire-right {
  /* remove when done */
  /* border: pink 1px solid; */
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* // container for charts */

/* // ------------------------------------------------- */

/* // input field */
/* -- SLIDER -- */
input[type="range"] {
  height: 34px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  /* animate: 0.2s; */
  box-shadow: 1px 1px 1px #000000;
  background: orange;
  border-radius: 1px;
  border: 0px solid #010101;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  /* circle */
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: orange;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  /* animate: 0.2s; */
  box-shadow: 1px 1px 1px #000000;
  /*  */
  /* background: #74a9d8; */
  background: transparent;
  border-radius: 1px;
  border: 0px solid #010101;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  /* background: #ffffff; */
  background: transparent;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  /* animate: 0.2s; */
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: orange;
  border: 0px solid #010101;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: orange;
  border: 0px solid #010101;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  /*  */
  background: transparent;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: orange;
}
input[type="range"]:focus::-ms-fill-upper {
  background: orange;
}
/* // ------------------------------------------------- */

.range-field {
  min-height: 91px;
  width: 90%;
  /* maybe - good: directs the user - bad: does not loog good */
  /* border: 5px solid white; */
  /* border-radius: 10px; */
  text-align: center;
  display: flex;
  flex-direction: column;
}
.range-field input {
  margin-left: 0;
  width: 75%;
}
.slider-num {
  display: flex;
  justify-content: space-around;
}

.bar-chart-container {
  /* background-color: #f0f0f0; */
  background-color: rgb(170, 238, 247);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  margin-top: 10px;
}

.line-graph-container {
  background-color: rgb(170, 238, 247);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  margin-top: 5vh;
}

/* link to next page */
.step4 {
  margin-top: 45px;
  /* position: relative;
  bottom: 0;
  border: 1px greenyellow solid; */
}

.step4 a {
  color: orange;
}
.step4 a:hover {
  color: yellow;
}
